.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.projetos-lista {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
 
}

.lista-projetos {
  width: 350px;
  margin: 15px;
  background-color: #f388ac;
  border: 10px;
  border-radius: 10px;
  box-shadow: -5px -10px 3px rgb(44, 211, 94), 6px 9px 5px rgb(44, 211, 94);
  -webkit-box-shadow: -5px -10px 3px rgb(44, 211, 94), 6px 9px 5px rgb(44, 211, 94);
  -moz-box-shadow: -5px -10px 3px rgb(44, 211, 94), 6px 9px 5px rgb(44, 211, 94);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}